* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    color: #524f4f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.title-bar {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
}

.title {
    font-size: 3em;
    margin-right: auto;
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

    .navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        color: white;
        padding: 10px 10px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: lightgray;
        color: #000;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.header-image {
    position: relative;
    top: 0;
    left: 0;
}

#stock-photo {
    width: 100%;
    display: block;
}

.header-overlay {
    position: absolute;
    top: 50%;
    left: 65%;
    justify-content: center;
}

.header-overlay-text {
    font-size: 24px;
}

.header-overlay-button {
    display: block;
    padding: 6px;
    background-color: #524f4f;
    border: 1px solid black;
    width: 130px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

    .header-overlay-button:hover {
        background-color: #373434;
    }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
